.post {
    margin-bottom: 3rem;
    cursor: pointer;
}

.buttonLoadMore {
    height: 60px;
    background: transparent;
    border: 1px solid #fff;
    font-size: 20px;
    padding: 0px 1rem;
    color: #fff;
}